{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
  <title>CARS</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cars.css' %}">
{% endblock %}
{%bootstrap_css%}


{% block content%}
    <div class="features">
        <h1> Cars</h1>
        {% comment %} <div class="dd"><input class=" search" type="search" placeholder="🔍 Search">
        </div> {% endcomment %}
        <form class="a" action="" method="get">
          <input name='s' placeholder="Поиск..." type="search">
          <button type="submit">Поиск</button>
        </form>
      </div>
    <div class="features">
        <div class="container">

          {% if cars_cars %}
            {% for car in cars_cars %}
            {% csrf_token %}
              <div class="car">
                <div class="car-header">
                  {% comment %}to filter created we can use | date:'d-m-Y' or | timesince or | timeuntil{% endcomment %}
                  <small class="text">Создано: {{ car.created|date:'d-m-Y' }}</small>
                  <p class="car-cost">$ {{ cars.price }}</p>
                </div>
                <hr />
                <div class="dc">
                  <div class="dcc">
                    <img src="{{ cars.image.url }}" alt="{{ cars.title }}" />
                  </div>
                  <a href="{% url "car_details" cars.id %}">
                  <div class="car-footer">
                    <h3>{{ cars.title }}</h3>
                    <p>{{ cars.description }}</p>
                  </div>
                </a>
                  <div class="card-footer">
                    <hr />
                    {% if user.username == 'zarux' %} 
                    <a href="{% url 'delete_car' car.id %}" 
                    class="view"
                    >
                      Удалить
                    </a>
                    {% endif %}
                    <a href="{% url 'car_details' car.id %}" 
                    class="view"
                    >
                      Просмотр
                    </a>
                    <a href="{% url 'add_to_wishlist' book.id %}" 
                    class="btn btn-sm col-sm-6 btn-success"
                    >
                      Add to wishlist
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p>Машинов не найдено</p>
          {% endif %}
          
        </div>
      </div>

    
{% endblock %}

{% block scripts %}
<scripts src="{% static 'js/main.js' %}">
</scripts>
{% endblock scripts %}