
h1{
    color: red;
}
*{
    justify-content: center;
    align-items: center;
}
aside{
    /* position: fixed; */
    
    display: flex;
    background-color: rgba(115 41 156 / 76%);
    width: 100%;
    height: 80px;
}
aside img{
    width: 80px;
    float: left;
}

aside .logo{
    font-size: 27px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 5px;
}
nav{
    gap: 20px;
    display: inline-flex;
    padding-bottom: 10px;
}

aside h3{
    margin-top: 50px;
    font-size: 28px;
}
aside nav{list-style: none;}
aside nav li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .3s ease;
}
a{
    text-decoration: none;
    color: #fff;
}
aside nav li:hover, aside nav a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}
main{
    margin: 10px;
}

main .features{
    
    display: flex;
    color: #000000;
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .features h1 {font-size:50px;color: red;}
main .features p {
    max-width: 500px;
    margin: 20px auto;
}
.container{
    background-color: rgba(30, 40, 50, 0.116);
    padding: 10px ;
    margin: 30px auto;
    margin-left: 30px;
    border-radius: 10px;
    display: grid;
    height: 300px;
    position: relative;
    left: 20px;
    grid-template-columns: repeat(2,2fr);
    max-width: 1100px;
}
#img{
    max-width: 350px;
    border-radius: 90px 0px;
}
.img{
    max-width: 500px;
}
from {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
.all_cars{
    display: flex;
}
.gg{
    max-width: 400px;
}
.foot{
    position: relative;
    top: 320px;
    right: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-2{
    border-radius: 50px;
}
.h3{
    font-size: 33px;
}
.d{
    padding-right: 300px;
}
.d span{
    position: relative;
    top: 8px;
}
.dd{
    position: absolute;
    /* float: left; */
}
.aa{
    width: 100px;
    height: 40px;
    background-color: #000000;
    color: #fff;
}
.search{
    background-color: #fff4f4b7;
    border-radius: 20px;
    border: none;
    float: left;
    color: #000000;
    position: relative;
    right: 100px;
}
.contain2{
    background-image: url(log3.jpg);
    padding: 30px;
}
.di{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    /* background-color: #727272; */
    border-radius: 15px;
    box-sizing: border-box;
    padding: 69px;
}
.di1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.di1 img{
    width: 200px;
    height: 190px;
}
#di1 img{
    margin: 10px;
    width: 450px;
    height: 420px;
    padding-bottom: 20px;
}
#di1 h5{
    position: relative;
    right: 300px;
    font-size: 23px;
    top: 150px;
    transform: rotate(-90deg);
}
.logos{
    display: flex;
    gap: 20px;
}
.logos img{
    max-width: 100px;
}
footer{
    background-color: #6e6e6e;
    height: 100%;
}

.vid video{
    width: 100%;
}
.card-footer{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.ff p{
    color: #fff;
}
.f img{
    margin: 10px;
    width: 100px;
    border-radius: 20px;
}

.slider{
    max-width: 800px;
    display: inline;
}
.slider a{
    padding: 10px;
    width: 200px;
    background-color: #000000d2;
}
.slide div{
    height: 200px;
    background-color: #707070a8;
}
.slide{
    margin: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.slide div img{
    padding: 10px;
    width: 180px;
    height: 140px;
}


@media (max-width: 600px) {
    .card-footer{
        margin: 10px;
        grid-template-columns: repeat(2,1fr);
    }
}