{% extends "base.html" %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}


{% block content%}
{% csrf_token %}

    <h1 class="text-center" style="color: red;">Cars</h1>
    <div class=" features">
        <div class="container">
            <div class="for-image"><img id="img" src="{% static 'img/Chevrolet-Cobalt.jpg' %}" alt=""></div>
            <div>
                <h3 class="h3">Chevrolet COBALT 2023</h3>
                <h5>Кобальт 2023 года 4 позиция</h5>
                <p>Наш филиал</p>
                {% if user.username != 'zarux' %}
                <a href="{% url "purchase" %}">Купить сейчас</a>
                {% endif %}
            </div>
ы        </div>
    </div>


{% endblock %}

{% block scripts %}
<scripts src="{% static 'js/main.js' %}">
</scripts>
{% endblock scripts %}