{% load static %}
{% load django_bootstrap5 %}

<form class="panel-body" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% if form.errors %}
    {% bootstrap_form_errors form %}
  {% endif %}
{% comment %} <div class="container"> {% endcomment %}
  {% comment %} {{form.as_p}} {% endcomment %}
  {% bootstrap_form  form %}
{% comment %} </div> {% endcomment %}
  {% csrf_token %}

  <button class="btn btn-success" type="submit">
    {% if btn_text %}
      {{ btn_text }}
    {% else %}
      Ок
    {% endif %}
  </button>
</form>
