<nav>
    <a href="{% url "home_page" %}"><li><i>🏠</i>Домой</li></a>

    <a href="{% url "about" %}"><li><i>🆎</i>О нас</li></a>

    <a href="{% url "cars_view" %}"><li><i>🚗</i>Машины</li></a>
    {% if user.username == 'zarux' %}
    <a href="{% url "add_car" %}"><li><i>➕</i>Добавить машинов</li></a>
    {% else %}
    <a href="{% url "purchase" %}"><li><i>🛒</i>Корзинка</li></a>
    {% endif %}
    {% if user.is_authenticated %}
        {% comment %} <a href="{% url "profile" %}"><li><i>👤</i>Профиль</li></a> {% endcomment %}
        <a href="{% url 'logout' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Logout">
            <li><i>📤</i>Выйти</li>
        </a>
    {% else %}
        <a href="{% url "login" %}"><li>Войти</li></a>
    {% endif %}
</nav>