*{
    display: grid;
    color: aliceblue;
    justify-content: center;    
}

body{
    background-image: url(log2.jpg);
    image-orientation: from-image;
}

.cont{
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 1px solid rgba(25, 182, 25, 0.596);
    background-color: rgba(100, 100, 100, 0.342);
}